html {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: azure;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1 {
    flex-direction: column;
}

form {
    flex-direction: column;
    flex-grow: 1;
}

  
footer {
    background-color: lightblue;
    flex-direction: column;
}